<carousel style="    width:82.5%; display: block; position:relative; margin: 100px auto auto auto;">
    <slide>
        <img src="assets/images/hazaplus1.jpg" alt="first slide" style="display: block; object-fit:scale-down; width:100%">
    </slide>
    <slide>
        <img src="assets/images/hazaplus2.jpg" alt="second slide" style="display: block; object-fit:scale-down; width:100%">
    </slide>
</carousel>


<div style="margin-top:40px; margin-bottom:60px; margin-left:10%">
    <h5 style=" margin-bottom:30px; font-weight: bold;">Furniture and home inspiration</h5>

    <h6 style="line-height: 150%;">We have worked to create a better everyday life for the many people.<br>
        As a home furnishing store, we do this by producing furniture that is well-designed, functional and affordable.<br>
        Here you will find everything from smart home solutions to a large selection of bedroom furniture, sofas and more.
    </h6>
    </div>

    <div class="row" style="width:80%; margin:0 auto; margin-top:40px;">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
          <img
            src="assets/images/horizontal_0.png"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
      
          <img
            src="assets/images/vertical_0.png"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
        </div>
      
        <div class="col-lg-4 mb-4 mb-lg-0">
          <img
            src="assets/images/vertical_1.png"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
      
          <img
            src="assets/images/horizontal_1.png"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
        </div>
      
        <div class="col-lg-4 mb-4 mb-lg-0">
          <img
            src="assets/images/horizontal_2.png"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
      
          <img
            src="assets/images/vertical_2.png"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
        </div>
      </div>


      <div style="width:100%; margin-top:0px; display: flex; justify-content: center;">
        <ul style="background-color:#EAE8E7; padding:30px; position:relative; float:left;">
        <li style="display:inline;float:left;text-align: center;margin-left:43px;margin-right:43px;"><div class="d-flex justify-content-center"><i class="fa fa-eur" aria-hidden="true" style="text-align: center;"></i></div><h5 style="text-align:center;
            margin-top:10px;">Reasonable Price</h5><h6>Shop with reasonable price</h6></li>
        <li style="display:inline;float:left;text-align: center;margin-left:43px;margin-right:43px;"><div class="d-flex justify-content-center"><i class="fa fa-plane" aria-hidden="true" style="text-align: center;"></i></div><h5 style="text-align:center;
            margin-top:10px;">Fast Delivery</h5><h6>Choose your preference</h6></li>
        <li style="display:inline;float:left;text-align: center;margin-left:43px;margin-right:43px;"><div class="d-flex justify-content-center"><i class="fa fa-globe" aria-hidden="true" style="text-align: center;"></i></div><h5 style="text-align:center;
            margin-top:10px;">Explore the world</h5><h6>Meet our global brand furniture</h6></li>
        <li style="display:inline;float:left;text-align: center;margin-left:43px;margin-right:43px;"><div class="d-flex justify-content-center"><i class="fa fa-check-circle-o" aria-hidden="true" style="text-align: center;"></i></div><h5 style="text-align:center;
            margin-top:10px;">Customer Satisfaction</h5><h6>Quality assured deliveries</h6></li>
    </ul>
    </div>