<div style="display:flex; left:20%; margin-top:120px; padding-left:200px; margin-bottom:80px">
    <div class="col-3" style="display: inline-block; padding-right:50px; border-right: 0.5px solid #999999;margin-left:100px">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Login</h1>
            </div>

            <app-text-input formControlName="email" [label]="'Email address'"></app-text-input>
            <app-text-input formControlName="password" [label]="'Password'" [type]="'password'"></app-text-input>

            <button [disabled]="loginForm.invalid" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>


    <div style="margin-left:50px; display: inline-block;">
        <h1 class="h3 mb-3 font-weight-normal" style="padding-bottom:15px;">Do not have an HazaPlus account yet?<br></h1>
        <ul style="list-style-type: none; padding:0;" >
        <li style="margin-bottom:8px">
            <i class="fa fa-check"> Track your order from order placement to delivery</i>
        </li>
        <li style="margin-bottom:8px">
            <i class="fa fa-check"> Review your order history</i>       
        </li>
        <li style="margin-bottom:25px">
            <i class="fa fa-check"> Remember your details for your future orders</i>
        </li> 
    </ul>
    <ng-container *ngIf="(currentUser$ | async) === null">
   <a class="btn btn-primary" href="#" role="button" routerLink="/account/register">Create an account</a>
      </ng-container>
    </div>


    
</div>


<div style="width:100%; margin-top:50px; display: flex; justify-content: center;">
    <ul style="background-color:#EAE8E7; padding:30px; position:relative; float:left;">
    <li style="display:inline;float:left;text-align: center;margin-left:43px;margin-right:43px;"><div class="d-flex justify-content-center"><i class="fa fa-eur" aria-hidden="true" style="text-align: center;"></i></div><h5 style="text-align:center;
        margin-top:10px;">Reasonable Price</h5><h6>Shop with reasonable price</h6></li>
    <li style="display:inline;float:left;text-align: center;margin-left:43px;margin-right:43px;"><div class="d-flex justify-content-center"><i class="fa fa-plane" aria-hidden="true" style="text-align: center;"></i></div><h5 style="text-align:center;
        margin-top:10px;">Fast Delivery</h5><h6>Choose your preference</h6></li>
    <li style="display:inline;float:left;text-align: center;margin-left:43px;margin-right:43px;"><div class="d-flex justify-content-center"><i class="fa fa-globe" aria-hidden="true" style="text-align: center;"></i></div><h5 style="text-align:center;
        margin-top:10px;">Explore the world</h5><h6>Meet our global brand furniture</h6></li>
    <li style="display:inline;float:left;text-align: center;margin-left:43px;margin-right:43px;"><div class="d-flex justify-content-center"><i class="fa fa-check-circle-o" aria-hidden="true" style="text-align: center;"></i></div><h5 style="text-align:center;
        margin-top:10px;">Customer Satisfaction</h5><h6>Quality assured deliveries</h6></li>
</ul>
</div>
