// nav.my-2 {
//     //border:1px solid black;
//     padding-top:100px;
//     position:relative;
//     left:7%;
    
// }


.cart-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1em;
    background: blue;
    color: white;
    text-align: center;
    top: -12px;
    right: 32px;
}

a {
    text-decoration: none;
    color: #343a40;

    &.active {
        color: orange

    }
}

.logo {
    cursor: pointer;

    &:focus {
        outline: none;
    }

     width: 14%;
     height: 14%;

    //  position:relative;
    //  left:48%;
}