header{
    height:100px;
}

.cart-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1em;
    background: #008cba;
    color: white;
    text-align: center;
    top: -15px;
    right: 30px;
}

a {
    text-decoration: none;
    color: #343a40;

    &.active {
        color: orange

    }
}

.logo {
    cursor: pointer;

    &:focus {
        outline: none;
    }

     width: 175.6px;
     height: 42px;

    position:relative;
    margin-left: 38%;
    margin-top: 50px;
}

.p-2{
    position:relative;
    left:50%;
    top:40px;
    font-size:15px

}

#login-button{
    left:0px;
}


